# Created by https://www.toptal.com/developers/gitignore/api/obsidian
# Edit at https://www.toptal.com/developers/gitignore?templates=obsidian

### Obsidian ###
# config dir
.obsidian_old/
.obsidian/
2024.1.30. 현장실습.md

# End of https://www.toptal.com/developers/gitignore/api/obsidian
